*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: olive;
    color: white;
    padding: 15px;
}

img#myphoto{
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

section#hero{
    text-align: center;
    margin: 0px;
}

h1#hero{
    font-family: 'Meddon', cursive;
    margin-bottom: -28px;
}

h4#hero{
    font-family: 'Brygada 1918', serif;
    font-size: 12px;
}

nav{
    background-color: #c6c646;
    border-color: #626200;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    font-family: 'Brygada 1918', serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a{
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    height: 100%;
    width: 100%;
    justify-content: center;
}

nav ul li a:hover{
    background-color: pink;
    border-bottom: 3px solid palevioletred;
}

footer{
    display: flex;
    position: fixed;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 100%;
    bottom: 0px;
    padding: 8px;
}

main{
    font-family: 'Brygada 1918', serif;
    font-size: 12px;
    text-align: justify;
    padding: 25px;
}